<template>
    <el-row>
        <el-row :gutter="20">
            <h3 class="title">Ganancias</h3>
            <el-col :span="8">
                <el-card shadow="always">
                   $50000<br>
                   <small>Diarias</small>
                </el-card>
            </el-col>
            <el-col :span="8">
                <el-card shadow="always">
                $50000<br>
                <small>Semanal</small>
                </el-card>
            </el-col>
            <el-col :span="8">
                <el-card shadow="always">
                $50000<br>
                <small>Mensual</small>
                </el-card>              
            </el-col>
        </el-row>
        <el-row :gutter="20" style="margin-top:20px;">
            <el-col :span="16">
                <h3 class="title">Ventas</h3>
                <table-ventas></table-ventas>
            </el-col>
            <el-col :span="8">
                <h3 class="title">Usuarios</h3>
                <users-card></users-card>
            </el-col>
        </el-row>
    </el-row>
</template>

<script>
import TableVentas from '@/components/TableVentas'
import UsersCard from '@/components/UserCard'
export default {
	layout: 'admin',
	components:{
		TableVentas,
		UsersCard
	},
}
</script>

<style scoped>
h3.title {
    color: #606266;
    padding: 20px;
    padding-top: 0px;
    box-shadow: 0 3px 5px -5px #c0c4cc;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
</style>
