<template>
    <div>
        <el-row :gutter="20" style="padding-bottom:65px;">
            <el-col :sm="8" :md="8" :lg="6" v-for="(item, i) in items" :key="i" style="margin-top:20px;">
                <el-card :body-style="{ padding: '0px' }" :style="item.cuantity + item.new < item.danger ? 'background:#f56c6c; color:white;' :null">
                    <img src="~/assets/img/food.png" class="image">
                    <div style="padding: 14px;">
                        <span>{{ item.name }}</span>
                        <div class="bottom clearfix">
							<el-row type="flex" justify="end" align="middle">
								<el-col :span="7">
									${{ item.price * (item.cuantity + item.new) }}
								</el-col>
								<el-col :span="7" style="margin-right:14px;">
									<el-tooltip class="item" effect="dark" content="Precio" placement="top-start">
										<el-button style="width: 100%;text-align:center;padding:12px 0px ;"  type="danger" plain>${{ item.price }} - {{ item.cuantity + item.new }}</el-button>
									</el-tooltip>
								</el-col>
								<el-col :span="10">
									<el-tooltip class="item" effect="dark" :content="`Canntidad en ${item.medida}`" placement="top-start">
										<el-input-number style="width: 100%; height:40px;" controls-position="right" v-model="item.new" :min="0" ></el-input-number>
									</el-tooltip>
								</el-col>
							</el-row>
                        </div>
                        <small>Cantidad minima: {{ item.danger }}</small>
                    </div>
                </el-card>                
            </el-col>

        </el-row>
        <el-row class="footer-action" type="flex" justify="end">
            <el-button type="primary" @click="onAdd">Agregar producto</el-button>
            <el-button type="success" @click="onBuy">Hacer pedido</el-button>
        </el-row>
        <el-dialog title="Confimar pedido" :visible.sync="buyDialog">
            <el-table :data="order">
                <el-table-column property="name" label="Nombre"></el-table-column>
				<el-table-column property="price" label="Precio" width="150">
					<template slot-scope="scope">
						${{ scope.row.price }}
					</template>
				</el-table-column>
				<el-table-column property="new" label="Canditad" width="150"></el-table-column>
				<el-table-column label="Total" align="right">
					<template slot-scope="scope">
						${{ scope.row.price * scope.row.new }}
					</template>
				</el-table-column>
			</el-table>

			<span slot="footer" class="dialog-footer">
				<el-button @click="buyDialog = false">Cancel</el-button>
				<el-button type="success" :loading="loading" v-on:click="onBuyConfirm">${{ newMoney }} Confirmar</el-button>
			</span>
        </el-dialog>

        <el-dialog title="Agregar producto" :visible.sync="addDialog">
            <el-form>
                <el-form-item label="Nombre">
                    <el-input v-model="form.name" autofocus></el-input>
                </el-form-item>
                <el-form-item label="precio">
                    <el-input v-model="form.price"></el-input>
                </el-form-item>
                <el-form-item label="Medida">
                    <el-input v-model="form.medida"></el-input>
                </el-form-item>
                <el-form-item label="Unidades Minimas">
                    <el-input v-model="form.danger"></el-input>
                </el-form-item>
            </el-form>
            <el-button type="success" :loading="loading" @click="onPush">Agregar</el-button>
        </el-dialog>
    
        <el-dialog title="Confirmar transaccion" :visible.sync="confirmDialog" :before-close="onMoneyClose">
			<el-form :model="form" @submit.native.prevent="onValidate">
				<el-form-item label="Contraseña del administrador">
					<el-input v-model="form.password" type="password"></el-input>
				</el-form-item>
			</el-form>

			<span slot="footer" class="dialog-footer">
				<!-- <el-button @click="buyDialog = false">Cancel</el-button> -->
				<el-button type="success" :loading="loading" v-on:click="onValidate">Confirmar</el-button>
			</span>

		</el-dialog>

    </div>
</template>

<script>
export default {
	layout: 'admin',
	data () {
		return{
			items:[
				{
					cuantity: 500,
					medida: 'kg',
					name: 'Zanahoria',
					price: 6,
					danger:40,
					new: 0
				},
				{
					cuantity: 500,
					medida: 'kg',
					name: 'Otra cosa',
					price: 15,
					danger:40,
					new: 0
				},
				{
					cuantity: 500,
					medida: 'kg',
					name: 'Cosa nueva',
					price: 50,
					danger:40,
					new: 0
				},
				{
					cuantity: 500,
					medida: 'kg',
					name: 'Pepino',
					price: 3,
					danger:40,
					new: 0
				},
				{
					cuantity: .50,
					medida: 'kg',
					name: 'Poco Producto',
					price: 6,
					danger:5,
					new: 0
				}
			],
			buyDialog: false,
			order: [],
			loading: false,
			newMoney: 0,
			confirmDialog: false,
			form:{},
			addDialog: false
		}
	},
	methods:{
		onBuy(){
			this.order = []
			this.items.forEach(element => {
				element.new > 0 ? this.order.push(element) : null
				this.newMoney = this.newMoney + (element.price * element.new)
			});

			this.buyDialog = true
		},
		onBuyConfirm(){
			this.loading = true
			setTimeout(() => {
				this.loading = false
				this.confirmDialog = true
			}, 3000)
			
		},
		onValidate(){
			this.loading = true
			if(this.form.password == 'secret'){
				setTimeout(() => {
					this.loading = false
					this.confirmDialog = false
					this.buyDialog = false
					setTimeout(() => {
						this.$message({
							type: 'success',
							message: 'Se ha impreso su ticket, favor de confirmar la compra lo mas pronto posible'
						})
					}, 300)
				},3000)
			}else{
				setTimeout(() => {
					this.loading = false
					this.$message({
						type: 'error',
						message: 'Lo sentimos, quiza la contraseña este mal o no tiene permiso se imprimir.'
					})
				}, 1000)
			}
		},
		onMoneyClose(){
			this.buyDialog = false
		},
		onAdd(){
			this.addDialog = true
		},
		onPush(){
			this.loading = true
			setTimeout(() => {
				this.addDialog = false
				this.loading = false
				this.items.push({
					cuantity: 0,
					medida: this.form.medida,
					name: this.form.name,
					price: this.form.price,
					danger: this.form.danger,
					new: 0 
				})
			}, 1500)
		}
	}
}
</script>

<style>
  .image {
    width: 100%;
    display: block;
  }
  .footer-action {
    position: fixed;
    bottom: 0px;
    z-index: 999;
    background: white;
    right: 0;
    left: 200px;
    padding: 15px;
    -webkit-box-shadow: 0 -4px 5px -5px #dcdfe6;
            box-shadow: 0 -4px 5px -5px #dcdfe6;
}

</style>
