<template>
    <el-row :gutter="20">
        <el-col :span="16">
            <el-form v-model="form">
                <el-form-item label="Nombre">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="Email">
                    <el-input v-model="form.email"></el-input>
                </el-form-item>
                <el-form-item label="Rol">
                    <el-select v-model="form.role" placeholder="Rol del usuario">
                    <el-option label="Cajero" value="cajero"></el-option>
                    <el-option label="Gerente" value="gerente"></el-option>
                    <el-option label="Administrador" value="admin"></el-option>
                    </el-select>
                </el-form-item>
                <el-button type="primary" @click="edit == true ? onUpdate() : onSubmit()">{{ edit == true ? 'Actualizar' : 'Crear' }}</el-button>
            </el-form>
        </el-col>
        <el-col :span="8">
            <el-card v-for="(user, i) in users" :key="i" style="margin-top: 20px;" @click.native="onEdit(user)">
                {{ user.name + ' - ' + user.email  }} <br>
                <small>{{ user.role }}</small>
            </el-card>
        </el-col>
    </el-row>
</template>

<script>
export default {
	layout: 'admin',
	data(){
		return {
			form: {},
			users: [{
				name: 'Zhou',
				role: 'Cajero',
				email: 'zhou@luckyexpress.com',
			}],
			edit:false
		}
	},
	methods:{
		onSubmit(){
			this.users.push(this.form)
			this.form = {}
		},
		onEdit(user){
			this.edit = true
			this.form = user
		},
		onUpdate(){
			this.edit = false
			this.form = {}
		}
	}
}
</script>

<style>

</style>
