<template>
    <el-row>
        <el-col :span="24">
            <table-ventas></table-ventas>
        </el-col>
    </el-row>
</template>

<script>
import TableVentas from '@/components/TableVentas'
export default {
	layout: 'admin',
	components:{
		TableVentas
	}
}
</script>