<template>
    <el-table
        :data="tableData"
        style="width: 100%">
        <el-table-column type="expand">
        <template slot-scope="props">
            <p v-for="(order, i) in props.row.orders" :key="i">{{order.name}}: {{ order.cuantity }} * {{ order.price}}. <b>Total: {{order.cuantity * order.price}} </b></p>
        </template>
        </el-table-column>
        <el-table-column
        label="Numero de Orden"
        prop="id"
        ></el-table-column>
        <el-table-column
        label="Fecha"
        prop="date">
        </el-table-column>
        <el-table-column
        label="Cajero"
        prop="name">
        </el-table-column>
    </el-table>
</template>

<script>
export default {
	data () {
		return {
			tableData: [{
				id: 'Da6F4EEF-16eC-FdAE-e2A1-CB39B7',
				date: '2016-05-03',
				name: 'Zhou Jiacheng',
				orders: [
					{
						name: 'Pollo a la naranja',
						cuantity: 10,
						price: 50,
						total: 500
					},
					{
						name: 'Pollo al curry',
						cuantity: 10,
						price: 50,
						total: 500
					}
				]
			}]
		}
	}
}
</script>

<style>

</style>
