<template>
    <div>
        <el-card v-for="(user, i) in users" :key="i" style="margin-top: 20px;" @click.native="onEdit(user)">
            {{ user.name + ' - ' + user.email  }} <br>
            <small>{{ user.role }}</small>
        </el-card>
    </div>
</template>

<script>
export default {
	data () {
		return {
			users: [{
				name: 'Zhou',
				role: 'Cajero',
				email: 'zhou@luckyexpress.com',
			}]
		}
	}
}
</script>

<style>

</style>
