@import './color.css';
html {
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}
body {
	font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}
.btn, .pointer {
	cursor: pointer;
}
.primary {
	color: var(--primary);
}
.secondary {
	color: var(--secondary);
}
.btn-primary {
	background-color: var(--primary);
	color: #fff;
}
.btn-secondary {
	background-color: var(--secondary);
	color: #000;
}
.page-enter-active, .page-leave-active {
	transition: opacity .5s
  }
  .page-enter, .page-leave-active {
	opacity: 0
  }