<template>
<el-container>
  <el-header>
    <el-row type="flex" align="middle" style="height:60px;">
      <el-button type="text" v-on:click="onRedirect('/')">Back</el-button>
    </el-row>
  </el-header>
  <el-container>
    <el-aside>

      <el-menu default-active="1" class="el-menu-vertical"  :collapse="isCollapse">
        <el-menu-item index="1" @click.native="onRedirect('/admin')">
          <i class="el-icon-menu"></i>
          <span slot="title">Admin</span>
        </el-menu-item>
        <el-menu-item index="2" @click.native="onRedirect('/admin/ventas')">
          <i class="el-icon-document"></i>
          <span slot="title">Ventas</span>
        </el-menu-item>
        <el-menu-item index="3"  @click.native="onRedirect('/admin/inventario')">
          <i class="el-icon-tickets"></i>
          <span slot="title">Inventario</span>
        </el-menu-item>
        <el-menu-item index="4"  @click.native="onRedirect('/admin/users')">
          <i class="el-icon-setting"></i>
          <span slot="title">Usuarios</span>
        </el-menu-item>
      </el-menu>


    </el-aside>
    <el-main style="min-height:100vh;">
      <nuxt/>
    </el-main>
  </el-container>
</el-container>
</template>

<script>

export default {
	data () {
		return {
			isCollapse: false
		}
	},
	methods:{
		onRedirect(route){
			setTimeout(() => {
				this.$router.push(route)
			}, 1000)
		}
	}
}
</script>

<style scoped>
  /* .el-header{
    background: #3a8ee6;
    color: white;
  } */
  .footer-action {
      position: fixed;
      bottom: 0px;
      z-index: 999999;
      background: white;
      right: 0;
      left: 220px;
      padding: 15px;
      box-shadow: 0 -4px 5px -5px #dcdfe6;
  }
  .el-menu-vertical .el-menu{
    border: none !important;
  }
  .el-aside{
    border: solid 1px #e6e6e6;
  }
</style>