<template>
    <el-container>

		<div class="backdrop" v-if="backdrop == true"></div>

        <el-header>
            <el-button type="text" v-on:click="onBack">Back</el-button>
        </el-header> 

		<el-main class="main">
			<el-row :gutter="20">
				<el-col :span="6" v-for="( plato, i ) in platillos" :key="i" class="food-col">
					<el-card :body-style="{ padding: '0px' }">
						<img src="~/assets/img/food.png" class="image">
						<div style="padding: 14px;">
							<span>{{plato.name}}</span>
							<div class="bottom clearfix" style="padding-top: 14px;">
							<el-row type="flex" justify="end" align="middle">
								<el-col :span="9">
									${{ plato.price * plato.cuantity }}
								</el-col>
								<el-col :span="5" style="margin-right:14px;">
									<el-tooltip class="item" effect="dark" content="Precio" placement="top-start">
										<el-button style="width: 100%;"  type="danger" plain >${{ plato.price }}</el-button>
									</el-tooltip>
								</el-col>
								<el-col :span="10">
									<el-tooltip class="item" effect="dark" content="Cantidad" placement="top-start">
										<el-input-number style="width: 100%; height:40px;" controls-position="right" v-model="plato.cuantity" :min="0" ></el-input-number>
									</el-tooltip>
								</el-col>
							</el-row>
								
							</div>
						</div>
					</el-card>
				</el-col>
			</el-row>
		</el-main>

		<el-container class="footer">
			<el-row :gutter="20" type="flex" justify="space-between" align="middle" style="width: 100%;">
				
				<el-col :span="4" style="margin-left:17px;">
					Cajero - {{ initMoney }}
				</el-col>		
				
				<el-col :span="6">
					<el-col :span="20">
						<el-button type="success" style="width: 100%;" @click="onBuy">
							<b>Total : ${{ total }}</b> Cobrar
						</el-button>
					</el-col>
					<el-dropdown trigger="click">
						<el-button type="info" icon="el-icon-setting" circle></el-button>
						<!-- <span class="el-dropdown-link">
							Dropdown List<i class="el-icon-arrow-down el-icon--right"></i>
						</span> -->
						<el-dropdown-menu slot="dropdown">
							<!-- <el-dropdown-item @click.native="onRedirect('/')">Configuracion</el-dropdown-item> -->
							<!-- <el-dropdown-item divided></el-dropdown-item> -->
							<el-dropdown-item @click.native="onLogoutDialog">Salir</el-dropdown-item>
							<!-- <el-dropdown-item>Action 3</el-dropdown-item>
							<el-dropdown-item>Action 4</el-dropdown-item>
							<el-dropdown-item>Action 5</el-dropdown-item> -->
						</el-dropdown-menu>
					</el-dropdown>
				</el-col>
				
			</el-row>
		</el-container>

		<el-dialog title="Corte de caja" :visible.sync="initDialog" :before-close="onMoneyClose">
			<el-form :model="form" @submit.native.prevent="onMoney">
				<el-form-item label="Monto Inicial">
					<el-input autofocus v-model="form.money"></el-input>
				</el-form-item>
			</el-form>

			<span slot="footer" class="dialog-footer">
				<!-- <el-button @click="buyDialog = false">Cancel</el-button> -->
				<el-button type="success" :loading="loading" v-on:click="onMoney">Confirmar</el-button>
			</span>

		</el-dialog>

		<el-dialog title="Confirmar transaccion" :visible.sync="confirmDialog" :before-close="onMoneyClose">
			<el-form :model="form" @submit.native.prevent="onValidate">
				<el-form-item label="Contraseña del administrador">
					<el-input v-model="form.password" type="password"></el-input>
				</el-form-item>
			</el-form>

			<span slot="footer" class="dialog-footer">
				<!-- <el-button @click="buyDialog = false">Cancel</el-button> -->
				<el-button type="success" :loading="loading" v-on:click="onValidate">Confirmar</el-button>
			</span>

		</el-dialog>

		<el-dialog title="Orden" :visible.sync="buyDialog">

			<el-table :data="order">
				<el-table-column property="price" label="Precio" width="150">
					<template slot-scope="scope">
						${{ scope.row.price }}
					</template>
				</el-table-column>
				<el-table-column property="cuantity" label="Canditad" width="150"></el-table-column>
				<el-table-column label="Total" align="right">
					<template slot-scope="scope">
						${{ scope.row.price * scope.row.cuantity }}
					</template>
				</el-table-column>
			</el-table>

			<span slot="footer" class="dialog-footer">
				<el-button @click="buyDialog = false">Cancel</el-button>
				<el-button type="success" :loading="loading" v-on:click="onBuyConfirm">Confirmar</el-button>
			</span>

		</el-dialog>

		<el-dialog title="Cierre de caja" :visible.sync="logoutDialog">
			${{ total + initMoney }}

			<el-form :model="form" @submit.native.prevent="onValidate">
				<el-form-item label="Contraseña del administrador">
					<el-input v-model="form.password" type="password"></el-input>
				</el-form-item>
			</el-form>

			<span slot="footer" class="dialog-footer">
				<el-button @click="logoutDialog = false">Cancel</el-button>
				<el-button type="danger" :loading="loading" @click="onValidLogout">Confirmar</el-button>
			</span>
		</el-dialog>
    </el-container>
</template>

<script>
export default {
	data () {
		return {
			platillos: [
				{	
					name: 'Pollo a la naranja',
					price: 50,
					cuantity: 2,
				},
				{
					name: 'Pollo l curri',
					price: 50,
					cuantity: 2,
				},
				{
					name: 'Pollo asado',
					price: 50,
					cuantity: 2,
				},
				{
					name: 'Camarones',
					price: 50,
					cuantity: 2,
				},
				{
					name: 'Arroz',
					price: 50,
					cuantity: 2,
				},
				{
					name: 'Etc',
					price: 50,
					cuantity: 2,
				}
			],
			order: [],
			initMoney: 0,
			initDialog: false,
			buyDialog: false,
			confirmDialog: false,
			loading: false,
			form:{
				password: ''
			},
			backdrop: true,
			openMenu: false,
			logoutDialog:false,
		}
	},
	mounted(){
		this.onInit()
	},
	methods:{
		onInit(){
			this.initDialog = true	
			this.backdrop = true		
		},
		onMoney(){
			
			if(this.form.money != null){
				this.loading = true
				setTimeout(() => {
					this.loading = false				
					this.initDialog = false
					setTimeout( () => {
						this.confirmDialog = true
					}, 300)
				}, 3000)
			}else{
				this.$message({
					type: 'error',
					message: 'Debes ingresar un monto inicial.'
				})
			}
		},
		onBack(){
			this.$router.back()
		},
		onBuy(){
			this.buyDialog = !this.buyDialog
			this.backdrop = true
			this.order = []
			if(this.platillos != null){
				this.platillos.forEach(element => {
					if(element.cuantity > 0){
						this.order.push(element)
					}
				});
			}
		},
		onBuyConfirm(){
			this.loading = true
			setTimeout(() => {
				this.loading = false
				this.buyDialog = false
				this.backdrop = false
				setTimeout( () => {
					this.$message({
						type: 'success',
						message: 'Se ha impreso el ticket. Gracias por su compra.'
					});
				},300)
			}, 3000)			
		},
		onValidate(){
			
			this.loading = true

			if(this.form.password == 'secret'){
				setTimeout(() => {
					this.loading = false
					this.confirmDialog = false
					setTimeout(() => {
						this.$message({
							type: 'success',
							message: 'Se ha actualizado la caja'
						})
						this.initMoney = this.form.money
						this.backdrop = false
					}, 300)
				}, 3000)
			} else {
				setTimeout(() => {
					this.loading = false 
					this.$message({
						type: 'error',
						message: 'Operacion no valida, la clave es incorrecta'
					})
				}, 3000)
			}
		},
		onMoneyClose(){
			this.$message({
				type: 'error',
				message: 'Operacion no valida, es necesario ingresar el monto inicial.'
			})
		},
		onLogoutDialog(){
			this.form.password = '',
			this.logoutDialog = true
		},
		onValidLogout(){
			this.loading = true
			// console.log('salir')
			if(this.form.password == 'secret'){
				// console.log(this.form.password)
				setTimeout(() => {
					this.loading = false
					this.logoutDialog = false
					setTimeout(() => {
						this.$router.push('/')
					}, 500)
				}, 3000)
			} else {
				setTimeout(() => {
					this.loading = false 
					this.$message({
						type: 'error',
						message: 'Operacion no valida, la clave es incorrecta'
					})
				}, 3000)
			}
		}
	},
	computed:{
		total: function () {
			let total = 0;
			if(this.platillos != null){
				for (let index = 0; index < this.platillos.length; index++) {
					total = total + this.platillos[index].cuantity * this.platillos[index].price
				}
			}
			return total;
		},
		moneyComputed: function (){
			return this.money + this.total
		}
	}
}
</script>

<style scoped>
.image{
	width:100%;
}
.food-col{
	margin-bottom: 20px;
}
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 65px;
	background: white;
	box-shadow: 0 -2px 12px 0 rgba(0, 0, 0, .1);
	z-index: 99;
}
.main{
	padding-bottom: 70px;
}
.el-input-number.is-without-controls .el-input__inner{
	height: 40px !important;
}
li.order-list {
    display: flex;
    justify-content: space-between;
}
span.price {
    background: #fef0f0;
    width: 60%;
	text-align: center;
    margin: 2%;
    border-radius: 5px;
	color: #f56c6c;
    line-height: 35px;
}
span.cuantity {
    background: #f4f4f5;
    width: 40%;
	text-align: center;
    margin: 2%;
    border-radius: 5px;
	color: #909399;
    line-height: 35px;
}
span.price-content {
    display: flex;
    width: 20%;
    justify-content: space-around;
}
ul.list-ul {
    padding-right: 40px;
}
.backdrop {
    backdrop-filter: blur(3px);
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	transition:  all .3s
}
</style>
