<template>
	<el-container>
		<el-main>
			<el-row type="flex" justify="center" align="middle" style="height:95vh;">
				<el-col :span="12">
					<el-row type="flex" justify="center">
						<el-col :span="24">
							<el-form ref="form" :model="form" label-width="120px">
								<el-form-item label="Activity name">
									<el-input v-model="form.name"></el-input>
								</el-form-item>
								<el-form-item label="Password">
									<el-input type="password" v-model="form.password"></el-input>
								</el-form-item>
							</el-form>
						</el-col>
					</el-row>
					<el-row type="flex" justify="end">
						<el-col :span="9">
							<el-button type="text" @click="onRecovery">Recuperar Password</el-button>
							<el-button v-on:click="onLogin" type="primary">Ingresar</el-button>
						</el-col>
					</el-row>
				</el-col>
			</el-row>
		</el-main>
	</el-container>
</template>

<script>
export default {
	data () {
		return {
			form: {
				// name:'',
				// password:''
			},
			error: false,
			focus: false
		}
	},
	methods:{
		onLogin(){
			switch (this.form.name) {
			case 'cajero':
				this.form.password == 'secret' ? this.$router.push('/cajero') : alert('Esta mal la contraseña'), this.error = true
				break;
			
			case 'admin':
				this.form.password == 'secret' ? this.$router.push('/admin') : alert('Esta mal la contraseña'), this.error = true
				break;

			case 'gerente':
				this.form.password == 'secret' ? this.$router.push('/admin') : alert('Esta mal la contraseña'), this.error = true
				break;

			default:
				break;
			}
		},
		onRecovery(){
			if(this.form.name != null){
				this.$message({
					type: 'success',
					message: `Te hemos enviado la contraseña a: ${this.form.name}`
				})
			}else{
				this.$message({
					type: 'warning',
					message: 'Por favor ingresa tu correo en la seccion de nombre.'
				})
			}
			
		}
	}
}
</script>

<style scoped>
.container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.btn {
	margin: 0 8px;
}
</style>
